* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    text-align:center;
  }
  fieldset{
      border:none;
      text-align:center;
  }
.image-display{
    text-align:center;
}
.js-image-result{
    width:50%;
}
